{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu" }}


    <h3> Informações Gerais </h3>
      <p>Número do Cartão: {{ .Id }}</p>
      <p>Nome: {{ .Name }}</p>
      <p>Código de Segurança: {{ .Cod_seg }}</p>
      <p>Data de Vencimento: {{ .Date_venc }}</p>
      <p>Status: {{ .Status }}</p>
      <br /> <a href="/edit?id={{ .Id }}">Editar</a></p><a href="/delete?id={{ .Id }}">Deletar</a>
  {{ template "Footer" }}
{{ end }}
